<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Datos de la persona</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"></header>
        <h2>[[#{persona.titulo-formulario}]]</h2>
        <a th:href="@{/}">[[#{persona.regresar}]]</a>
        <br/>
        <!-- En la siguiente linea mandamos el objeto de tipo persona al controlador en el método agregar -->
        <form th:action="@{/guardar}" method="POST" th:object="${persona}">
            <input type="hidden" name="idPersona" th:field="*{idPersona}"/> <!-- Para recuperar tambien el id y no se repitan los registros -->
            <br/>
            <label for="nombre">[[#{persona.nombre}]]:</label>
            <input type="text" name="nombre" th:field="*{nombre}"/> <!-- ${persona.nombre} -->
            <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error</span>
            <br/>
            <label for="nombre">[[#{persona.apellido}]]:</label>
            <input type="text" name="nombre" th:field="*{apellido}"/>
            <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error</span>
            <br/>
            <label for="nombre">[[#{persona.email}]]:</label>
            <input type="text" name="nombre" th:field="*{email}"/> <!-- Se cambió el tipo para que no hiciera la validacion html sino la de spring -->
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error</span>
            <br/>
            <label for="nombre">[[#{persona.telefono}]]:</label>
            <input type="tel" name="telefono" th:field="*{telefono}"/> 
            <br/>
            <input type="submit" name="guardar" th:value="#{persona.guardar}"/>
        </form>
        
        <footer th:replace="layout/plantilla :: footer"></footer>
    </body>
</html>
