<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Plantilla</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:fragment="header">
            <h1 th:text="#{plantilla.titulo}">Titulo</h1> <!-- Viene del archivo de messages.propierties -->
        </header>
        
        <footer th:fragment="footer">
            <p> [[#{plantilla.pie-pagina}]] <a href="https://github.com/PegaChucho" target="_blank">GitHub</a></p> <!-- con el doble corchete podemos agregar el mensaje dentro de la etiqueta -->
    </body>
</html>
